doctype html
html
  head
    //connects the css file to add lines between the columns and rows 
    link(rel='stylesheet', href='/stylesheets/style.css')
    
  body
    
    
    
    h1 Students Database
    
    // Create a dynamic table
    table#studentsTable
      thead
        tr
          th Student ID
          th First Name
          th Last Name
          th Email
          th Enrollment Date
      tbody
        each student in students
          tr
            td= student.student_id
            td= student.first_name
            td= student.last_name
            td= student.email
            td= student.enrollment_date
    //form for updating the Email (including the text boxes and submit button)
    form(action="/updateEmail", method="post")
      label(for="student_id") Student ID          
      input(type="text", name="student_id" ) 
      br
      label(for="newEmail") New Email    
      input(type="text", name="newEmail") 
      
      br
      input(type="submit", value="update email")


    br
    br
    br
    br
    br
    //form for deleting a student 
    p Delete student id:
    form(action="/deleteStudent", method="post")
      input(type="text" name="student_id")
      input(type="submit", value="Delete Student")

    br
    br
    br
    br
    br
    //form for inserting a new student
    p Insert new Student: 
    form(action="/addStudent", method="post")
      label(for="first_name") First name          
      input(type="text", name="first_name" ) 
      br
      label(for="last_name") Last name      
      input(type="text", name="last_name") 
      br
      label(for="email") Email          
      input(type="text", name="email" )
      br
      label(for="enrollment_date") Enrollment date      
      input(type="date", name="enrollment_date") 
      br
      input(type="submit", value="Submit")
